<!--This internal styling has higher priority over external styling
<style>
	h1 { color: green}
</style>
-->
<h1> About Me </h1>

<div class= "static_page_text">
	Why you want my name, you ain't ever going to use it
</div>
