<head>
<style>
	h1 {
		text-align: center;
		color: blue;
		font-size: 30pt;
	}
	.group-names {
		text-align: center;
		font-size: 24pt;
	}
</style>
</head>

<h1>Current Groups</h1>

<% @groups.each do |x| %>
	<div class="group-names">
		<%= link_to(x.name, x) %>
	</div>
<% end %>