<h1>Create a New Group</h1>


<%= form_for(@group) do |f| %>
	<div class="field">
		<%= f.text_field :name%>
	</div>

	<div class="field">
		<%= f.select(:cat_id, options_for_select([["Sports", 1], ["A Capella", 2], ["Improv", 3]])) %>
	</div>
	
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

