.cat-names {
	text-align: left;
	color: red;
	font-size: 24pt;

}

.link-names {

	font-size: 12pt;
}

// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
