h1 {
	text-align: center;
	color: blue;
	font-size: 30pt;
}

.static_page_text {
	text-align: left;
	color: red;
	font-size: 20pt;
}

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
